<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="_2._1.Properties.Settings.shocknet_dk_db_shockConnectionString"
            connectionString="Data Source=mssql15.unoeuro.com;Initial Catalog=shocknet_dk_db_shock;Persist Security Info=True;User ID=shocknet_dk"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>